@import url(normaliz.min.css);
@import url(reset.css);

body {
    font-family: 'Noto Sans KR', sans-serif;
}


/* main slide */
.loaction{
    display: flex;
    justify-content: center;
    /* height: 100%; */
}
.loaction ul{
    display: flex;
    gap:30px;
    width: 1441px;
    color: rgba(0,0,0,.35);
    font-size: 17px;
}

/* main slide - livingroom */

.slide_container .bottom_bar{
    /* position: absolute; */
    height: 35px;
    width: 100%;
    background-color: #dd785a;    
}
.slide_ct .slide_living{
    position: relative;
    background: url(../img/bespoke/main_livingroom.JPG) no-repeat;
    background-size: 100%;
}


.slide_container button{
    width: 52px;
    height: 52px;
    background: rgba(0,130,189,0.8);
    border-radius: 50%;
    border:none;  
}
.slide_container button > i{
    color: #fff;
    font-size: 25px;
}

/* more button living - vaccum */
.vaccum .vaccum_pos{ 
    position: absolute;
    left: 59px;
    top: 352px;
}
.vaccum .vaccum_ct{
    position: relative;
    background: #fff;
    height: 267px;
    width: 438px;
    border-radius: 10px;
    top: 351px;
    left: 155px;
}
.vaccum .vaccum_ct:before{
    content: '';
    position: absolute;
    border-top: 17px solid transparent;
    border-left: 0px solid transparent;
    border-right: 30px solid #fff;
    border-bottom: 17px solid transparent;
    top: 2px;
    left: -19px;
}
.vaccum .vaccum_ct > .vaccum_img > img{
    position: absolute;
    width: 65px;
    transform: translate(74%, 10%);
}
.slide_container .box{
    box-shadow:4px 4px 11px rgb(0 0 0 / 45%);
}
.title{
    position: absolute;
    padding-left: 167px;
    padding-top: 31px;
}
.title h3{
    font-size: 20px;
    font-weight: bold;
}
.sub_text{
    width:227px;
    padding-top: 34px;
}
.sub_text div{
    display:flex;
    justify-content: space-between; 
    align-items: center;   
}
.sub_text div:first-child p{
    font-size: 15px;
    color: #8e8e8e;
}
.sub_text > div:nth-child(2){
    padding-top:10px;
    padding-bottom: 21px;
}
.sub_text div:nth-child(2) p:first-child{
    font-size: 15px;
    color: #202020;
}
.sub_text div:nth-child(2) p:last-child{
    font-size: 20px;
    font-weight: bold;
    color: #202020;
}
.sub_text .color{
    display: flex;
    align-items: center;
    height: 18px;
}
.sub_text .color_bt{
    display: flex;
    align-items: center;
    gap:12px;
}
.sub_text .color p{
    font-size: 15px;
    color:#202020;
}
.sub_text .color_bt a{
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
.vaccum_text .sub_text .color_bt a:nth-child(1){
    background-color: #dd785a; 
    position: relative;
    z-index: 1;
}
.vaccum_text .sub_text .color_bt a:nth-child(1):active::after{
    content: '';
    border: 4px solid #e8b39a;
    background: #dd785a;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    inset: -3px;
    position: absolute;
}
.vaccum_text .sub_text .color_bt a:nth-child(2){
    background-color: #59dddd; 
    position: relative;
    z-index: 1;
}
.vaccum_text .sub_text .color_bt a:nth-child(2):active::after{
    content: '';
    background: #59dddd;
    border: 4px solid #b4f0f0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    inset: -3px;
    position: absolute;
}
.vaccum_text .sub_text .color_bt a:nth-child(3){
    background-color: #e3deca; 
    position: relative;
    z-index: 1;
}
.vaccum_text .sub_text .color_bt a:nth-child(3):active::after{
    content: '';
    background: #e3deca;
    border: 4px solid #f2f0e7;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    inset: -3px;
    position: absolute;
}
.vaccum_text .sub_text .color_bt a:nth-child(4){
    background-color: #b0b2b5; 
    position: relative;
}
.vaccum_text .sub_text .color_bt a:nth-child(4):active::after{
    content: '';
    background: #b0b2b5;
    border: 4px solid #dbdcde;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    inset: -3px;
    position: absolute;
}
/* .sub_text .color_bt a:nth-child(4){
    background-color: #b0b2b5; 
}
.sub_text .color_bt a:nth-child(4):active{
    border:4px solid #dbdcde; 
} */
.sub_text div:nth-child(4) a{
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #202020;
    border-radius: 19px;
    height: 38px;
    width: 148px;
    text-align: center;
    line-height: 38px;
    margin-top: 28px;
}
.sub_text div:last-child i{
    padding-left:10px;
}
.sub_text div:nth-child(4) a:hover{
    background-color: #202020;
    color: #fff;
}


/* more button living - air conditioner */
.aircd .aircd_pos{ 
    position: absolute;
    left: 399px;
    top: 150px;
    /* left: -83px;
    top: 37px; */
}
.aircd .aircd_ct{
    position: relative;
    background: #fff;
    height: 267px;
    width: 438px;
    border-radius: 10px;
    top: -122px;
    left: 490px;
}
.aircd .aircd_ct:before{
    content: '';
    position: absolute;
    border-top: 17px solid transparent;
    border-left: 0px solid transparent;
    border-right: 30px solid #fff;
    border-bottom: 17px solid transparent;
    top: 2px;
    left: -19px;
}
.aircd .aircd_ct > .aircd_img > img{
    position: absolute;
    width: 59px;
    transform: translate(83%, 6%);
}
.aircd_text .sub_text .color_bt a:nth-child(1){
    background-color: #fbc773; 
    position: relative;
    z-index: 1;
}
.aircd_text .sub_text .color_bt a:nth-child(1):active::after{
    content: '';
    border: 4px solid #fde6c0;
    background: #fbc773;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    inset: -3px;
    position: absolute;
}
.aircd_text .sub_text .color_bt a:nth-child(2){
    background-color: #365144; 
    position: relative;
    z-index: 1;
}
.aircd_text .sub_text .color_bt a:nth-child(2):active::after{
    content: '';
    background: #365144;
    border: 4px solid #a4b1ab;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    inset: -3px;
    position: absolute;
}

/* more button living - cube */
.aircube .aircube_pos{ 
    position: absolute;
    left: 1224px;
    top: 502px;
}
.aircube .aircube_ct{
    position: relative;
    background: #fff;
    height: 267px;
    width: 438px;
    border-radius: 10px;
    top: -346px;
    left: 1018px;
}
.aircube .aircube_ct:before{
    content: '';
    position: absolute;
    border-top: 30px solid #fff;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 0px solid transparent;
    top: 97%;
    left: 50%;
}
.aircube .aircube_ct > .aircube_img > img{
    position: absolute;
    width: 147px;
    transform: translate(9%, 28%);
}
.aircube_text .sub_text .color_bt a:nth-child(1){
    background-color: #dd785a; 
    position: relative;
    z-index: 1;
}
.aircube_text .sub_text .color_bt a:nth-child(1):active::after{
    content: '';
    border: 4px solid #e8b39a;
    background: #dd785a;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    inset: -3px;
    position: absolute;
}
