@import url(normaliz.min.css);
@import url(reset.css);

body{
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
}


/* MAIN - LOCATION */

.location{
    display: flex;
    justify-content: center;
}
.location > ul{
    display: flex;
    gap: 25px;
    color:rgba(0,0,0, .35);
    font-weight: 500;
    line-height: 52px;
    width: 1441px;
    font-size: 17px;
}



/* MAIN - SLIDE1 - LIVINGROOM */
.slide_wrapper .slide_container > li {
    position: absolute;
    width: 100%;
    height: 760px;
}
.slide_container{
    height: 760px;
}
.slide_container .slide1 {
    background: url(../img/bespoke/main_livingroom.JPG) no-repeat;
    z-index: 2;
}


/* SLIDE BUTTON, BOX */
.slide_bt {
    display: flex;
    gap:45px;
}
.vaccum{
    position: absolute;
    top: 410px;
    left: 50px;
}
.aircd{
    position: absolute;
    top: 160px;
    left: 430px;
}
.cube{
    position: absolute;
    top: 230px;
    left: 1080px;
}
.cube > button{
    transform: translate(597%,630%);
}
.slide_bt > button {
    width: 50px;
    height: 50px;
    background: rgba(0,130,189,0.8);
    border-radius: 50%;
    border: none;
    cursor:pointer;
}
.slide_bt button > i{
    color:#fff;
    font-size: 25px;
}

.slide_container .ct_box{
    position: relative;
    width:457px;
    height: 267px;
    background-color: #fff;
    border-radius: 17px;
    box-shadow: 4px 4px 11px rgba(0,0,0,.45);
    top: -5px;
}
.slide_container .ct_box::after{
    content:'';
    position: absolute;
    border-top: 17px solid transparent;
    border-left: 0px solid transparent;
    border-right: 30px solid #fff;
    border-bottom: 13px solid transparent;
    top: 7px;
    left: -19px;
}
.slide_container .cube_content::after{
    content:'';
    position: absolute;
    border-top: 30px solid #fff;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 0px solid transparent;
    top: 260px;
    left: 210px;
}

/* LIVINGROOM - VACCUM_IMG */

.slide1 .ct_box > .img > img{
    position: absolute;   
}
.slide1 .vc_content > .img > img{
    transform: translate(73%, 11%);
    width: 65px;
}
.slide1 .aircd_content > .img > img{
    transform: translate(98%, 10%);
    width: 57px;
}
.slide1 .cube_content > .img > img{
    transform: translate(14%, 37%);
    width: 133px;
}

/* SLIDE BOX-TEXT */
.ct_box .text{
    width: 252px;
    color: #202020;
    font-weight: 500;
    font-size: 15px;
}
.ct_box .text div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ct_box .text h3 {
    font-size: 20px;
    font-weight: bold;
}
.ct_box .text div:nth-child(2) > p{
    color: #8e8e8e;
    font-weight: 500;
}
.ct_box .text div:nth-child(3) > p:last-child{
    font-size: 20px;
    font-weight: bold;
}
.ct_box .text > div:nth-child(2){
    padding-top: 35px;
}
.ct_box .text > div:nth-child(3){
    padding-top: 10px;
    padding-bottom: 17px;
}
.ct_box .text{
    width: 252px;
    position: absolute;
    top: 35px;
    left: 167px;
}
.text .color_bt{
    display: flex;
    gap: 10px;
}
.text .color_bt button{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: none;
    cursor: pointer;   
}

.vc_content .color_bt button:nth-child(1) {
    background-color: #cb571e;
    position: relative;
}
.vc_content .color_bt button:nth-child(1):active::after {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #cb571e;
    border: 4px solid #e8b39a;
    position: absolute;
    border-radius: 50%;
    inset: -3px;   
}
.vc_content .color_bt button:nth-child(2) {
    background-color: #59dddd;
    position: relative;
}
.vc_content .color_bt button:nth-child(2):active::after {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #59dddd;
    border: 4px solid #b4f0f0;
    position: absolute;
    border-radius: 50%;
    inset: -3px;
}
.vc_content .color_bt button:nth-child(3) {
    background-color: #e3deca;
    position: relative;
}
.vc_content .color_bt button:nth-child(3):active::after {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #e3deca;
    border: 4px solid #f2f0e7;
    position: absolute;
    border-radius: 50%;
    inset: -3px;
}
.vc_content .color_bt button:nth-child(3) {
    background-color: #e3deca;
    position: relative;
}
.vc_content .color_bt button:nth-child(3):active::after {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #e3deca;
    border: 4px solid #f2f0e7;
    position: absolute;
    border-radius: 50%;
    inset: -3px;
}
.vc_content .color_bt button:nth-child(4) {
    background-color: #b0b2b5;
    position: relative;
}
.vc_content .color_bt button:nth-child(4):active::after {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #b0b2b5;
    border: 4px solid #dbdcde;
    position: absolute;
    border-radius: 50%;
    inset: -3px;
}

.text > div > a{
    width: 148px;
    height: 38px;
    border: 1px solid #202020;
    display: inline-block;
    border-radius: 19px;
    text-align: center;
    line-height: 38px;
    margin-top: 24px;
}
.text > div > a:hover{
    background: #202020;
    color: #fff;;
}
.text > div > a > i {
    padding-left: 10px;
}

.aircd_content .color_bt button:nth-child(1) {
    background-color: #fbc773;
    position: relative;
}
.aircd_content .color_bt button:nth-child(1):active::after {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #fbc773;
    border: 4px solid #fde6c0;
    position: absolute;
    border-radius: 50%;
    inset: -3px;   
}
.aircd_content .color_bt button:nth-child(2) {
    background-color: #365144;
    position: relative;
}
.aircd_content .color_bt button:nth-child(2):active::after {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #365144;
    border: 4px solid #a4b1ab;
    position: absolute;
    border-radius: 50%;
    inset: -3px;   
}
.cube_content .color_bt button:nth-child(1) {
    background-color: #cb571e;
    position: relative;
}
.cube_content .color_bt button:nth-child(1):active::after {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #cb571e;
    border: 4px solid #e8b39a;
    position: absolute;
    border-radius: 50%;
    inset: -3px;   
}




/* MAIN - SLIDE2 - KITCHEN */
.slide_container .slide2 {
    background: url(../img/bespoke/main_kitchen.JPG) no-repeat;
    position: relative;
    z-index: 1;
}

.kitchen .oven {
    position: absolute;
    top: 260px;
    left: 340px;
}
.kitchen .dish {
    position: absolute;
    top: 380px;
    left: 950px;
}
.kitchen .ref {
    position: absolute;
    top: 115px;
    left: 1000px;
}

.slide2 .ct_box > .img > img{
    position: absolute;   
}
.slide2 .oven_content > .img > img{
    transform: translate(14%, 82%);
    width: 130px;
}
.slide2 .dish_content > .img > img{
    transform: translate(13%, 32%);
    width: 130px;
}
.slide2 .ref_content > .img > img{
    transform: translate(20%, 11%);
    width: 117px;
}

.slide_container .ref_content::after {
    content: '';
    position: absolute;
    border-top: 17px solid transparent;
    border-left: 30px solid #fff;
    border-right: 0px solid transparent;
    border-bottom: 17px solid transparent;
    top: 7px;
    left: 445px;
}
.ref > button {
    transform: translate(1180%, 0);
}

.oven_content .color_bt button:nth-child(1) {
    background-color: #036423;
    position: relative;
}
.oven_content .color_bt button:nth-child(1):active::after {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #036423;
    border: 4px solid #8db99c;
    position: absolute;
    border-radius: 50%;
    inset: -3px;   
}
.oven_content .color_bt button:nth-child(2) {
    background-color: #fbc773;
    position: relative;
}
.oven_content .color_bt button:nth-child(2):active::after {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #fbc773;
    border: 4px solid #fde6c0;
    position: absolute;
    border-radius: 50%;
    inset: -3px;   
}
.oven_content .color_bt button:nth-child(3) {
    background-color: #3d3935;
    position: relative;
}
.oven_content .color_bt button:nth-child(3):active::after {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #3d3935;
    border: 4px solid #a8a6a4;
    position: absolute;
    border-radius: 50%;
    inset: -3px;   
}
.dish_content .color_bt button:nth-child(1) {
    background-color: #cb571e;
    position: relative;
}
.dish_content .color_bt button:nth-child(1):active::after {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #cb571e;
    border: 4px solid #e8b39a;
    position: absolute;
    border-radius: 50%;
    inset: -3px;   
}
.dish_content .color_bt button:nth-child(2) {
    background-color: #0a3369;
    position: relative;
}
.dish_content .color_bt button:nth-child(2):active::after {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #0a3369;
    border: 4px solid #91a3bb;
    position: absolute;
    border-radius: 50%;
    inset: -3px;   
}
.ref_content .color_bt > #btt > img{
    width: 18px;
    height: 18px;
    transform: translate(-28%, -5%);
    position: relative;
}
.ref_content .color_bt > button > img:active::after  {
    content: '';
    width: 24px;
    height: 24px;
    border: 1px solid #202020;
    position: absolute;
    border-radius: 50%;
    inset: -3px;   
}
.ref_content > .text > div:nth-child(2) p:first-child{
    color: #202020;
}
.ref_content > .text > div:nth-child(2) p:last-child{
    font-size: 20px;
    font-weight: bold;
    color: #202020;
}



/* MAIN - SLIDE3 - LAUNDRY */
.slide_container .slide3 {
    background: url(../img/bespoke/main_laundry.JPG) no-repeat;
    position: relative;
}
.slide3 .ct_box > .img > img{
    position: absolute;   
}
.slide3 .clothes_content > .img > img{
    transform: translate(61%, 12%);
    width: 78px;
}
.slide3 .washer_content > .img > img{
    transform: translate(14%, 21%);
    width: 133px;
}
.slide3 .shoes_content > .img > img{
    transform: translate(36%, 10%);
    width: 100px;
}
.clothes{
    position: absolute;
    top: 100px;
    left: 450px;
}
.washer{
    position: absolute;
    top: 410px;
    left: 731px;
}
.shoes{
    position: absolute;
    top: 370px;
    left: 1046px;
}

.clothes_content .color_bt button:nth-child(1) {
    background-color: #cb571e;
    position: relative;
}
.clothes_content .color_bt button:nth-child(1):active::after {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #cb571e;
    border: 4px solid #e8b39a;
    position: absolute;
    border-radius: 50%;
    inset: -3px;   
}
.clothes_content .color_bt button:nth-child(2) {
    background-color: #6f97bd;
    position: relative;
}
.clothes_content .color_bt button:nth-child(2):active::after {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #6f97bd;
    border: 4px solid #bed0e1;
    position: absolute;
    border-radius: 50%;
    inset: -3px;   
}
.washer_content .color_bt button:nth-child(1) {
    background-color: #cb571e;
    position: relative;
}
.washer_content .color_bt button:nth-child(1):active::after {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #cb571e;
    border: 4px solid #e8b39a;
    position: absolute;
    border-radius: 50%;
    inset: -3px;   
}
.washer_content .color_bt button:nth-child(2) {
    background-color: #6f97bd;
    position: relative;
}
.washer_content .color_bt button:nth-child(2):active::after {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #6f97bd;
    border: 4px solid #bed0e1;
    position: absolute;
    border-radius: 50%;
    inset: -3px;   
}
.shoes_content .color_bt button:nth-child(1) {
    background-color: #eeeeee;
    position: relative;
}
.shoes_content .color_bt button:nth-child(1):active::after {
    content: '';
    width: 18px;
    height: 18px;
    border: 1px solid #202020;
    position: absolute;
    border-radius: 50%;
    inset: -3px;   
}
.shoes_content .color_bt button:nth-child(2) {
    background-color: #5f2f3b;
    position: relative;
}
.shoes_content .color_bt button:nth-child(2):active::after {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #5f2f3b;
    border: 4px solid #b7a1a7;
    position: absolute;
    border-radius: 50%;
    inset: -3px;   
}



/* SECTION1 - BESPOKE HOME */

.sc_title{
    color: #202020;
    margin-top: 215px;
}
.sc_title > .bp_title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sc_title img{
    width: 63px;
    height: 40px;
}
.sc_title h1{
    font-size: 80px;
    padding-left: 53px; 
}
.sc_title h1 > em{
    font-weight: bold;
}
.sc_title > p {
    text-align: center;
    line-height: 40px;
    font-weight: 500;
    font-size: 28px;
    padding-top: 115px;
}
.title > .bp_img{
    background: url(../img/bespoke/bespokehome.JPG) no-repeat;
    height: 427px;
    width: 1441px;
    background-size: 100%;
    margin: 0 auto;
    margin-top: 83px;
}

.list_wrapper{
    display: flex;   
    justify-content: center;
    padding-top: 83px;
}
.list_wrapper .bp_list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: 1441px;  
}
.list_wrapper .bp_list a{
    width: 220px;
    height: 80px;
    background: #f0f0f0;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
}
.list_wrapper .bp_list a:hover{
    background: #dd785a;
    color: #fff;;
}

/* SECTION1 - SMARTTHING ENERGY */
.smart_ct{
    margin: 0 auto;
    background: #f0f0f0;
    width: 1441px;
    height: 683px;
    border-radius: 30px;
    overflow: hidden;
    display:flex;
}
.smart_ct img{
    transform: translate(-47px, 11px);
}