@import url(normaliz.min.css);
@import url(reset.css);
:root{
    --main-color : #202020;
    --sub-color : #4a4a4a;
    --white : #fff;
    --con-width : 1642px;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
}


/* footer_content */

.footer_content > ul{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    width: var(--con-width);
    margin: 0 auto;
}
.footer_content ul > li > div {
    display: flex;
}
.footer_content ul > li > div > ul:last-child{
    padding-left: 100px;
}
.footer_content h3{
    font-size: 20px;
    font-weight: bold;
}
.footer_content h3 > i{
    font-size: 16px;
    padding-left: 10px;
}
.footer_content .link li {
    padding-top: 20px;
    /*line-height: 35px;*/
}
.footer_content .link li a{
    font-size: 17px;
    color: var(--sub-color);
}
.line{
    border: 1px solid rgba(74,74,74,.1);
    margin: 50px 0;
}


/* footer_ct */

.footer_ct{
    width: var(--con-width);
    margin: 0 auto;
    font-size: 17px;
    color: var(--sub-color);
    width: var(--con-width);
    margin: 0 auto;
}
.lang{
    display: flex;
}
.lang > ul{
    display: flex;
    gap:41px;
    align-items: center;
}
.lang > ul > li{
    position: relative;
    font-weight: bold;
}
.lang > ul > li:after{
    content: '';
    width: 1px;
    height: 18px;
    background: var(--sub-color);
    position: absolute;
    right: -20px;
}
.lang > ul > li:last-child:after{
    background: none;
}
.dropBtn{
    min-height: 44px;
    width: 303px;
    border-radius: 10px;
    border: 1px solid #202020;
    box-sizing: border-box;
    background-color: var(--white);
    text-align: left;
    cursor: pointer;
    padding-left: 20px;
    font-size: 17px; 
}

.acodian{
    display: flex;
    gap: 24px;    
}
.acodian > div > ul{
    display: none;
}
.dropList01 {
    padding-left: 50px;
}
.icon1 > .fa-solid{
    padding-left: 180px;
}
.icon2 > .fa-solid{
    padding-left: 114px;
}
.footer_ct .sns ul{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 188px;
}
.lang .sns .fbook{
    background: url(../img/icon/facebook.svg) no-repeat;
    width:22px;
    height: 41px; 
    display: block;
    background-size: 100%;
    fill: #202020;
}
.lang .sns .insta{
    background: url(../img/icon/instagram.png) no-repeat;
    width:40px;
    height: 41px;
    display: block;
    background-size: 100%;
}
.lang .sns .youtube{
    background: url(../img/icon/youtube.png) no-repeat;
    width:50px;
    height: 48px;
    display: block;
    background-size: 100%;
}
.lang .sns .blog{
    background: url(../img/icon/blog.png) no-repeat;
    width:43px;
    height: 41px;
    display: block;
    background-size: 100%;
}
/* .info .text span{
    padding-top: 10px;
} */

.info .text{
    line-height: 30px;
    padding-top:50px;
}
.info .text .copy{
    padding-top: 30px;
    display: block;
    font-weight: bold; 
    display: inline-block;
}
.info .if01, .if02 {
    display:flex;
    gap: 41px;
}
.info .if01 span {
    position: relative;
}
.info .if02 span {
    position: relative;
}
.info .if01 span:after{
    content: '';
    width: 1px;
    height: 15px;
    background: var(--sub-color);
    position: absolute;
    top: 6px;
    left: -20px;;
}
.info .if01 span:first-child:after{
    background: none;
}
.info .if01 .info_links{
    background: #202020;
    border-radius: 50px;
    width: 270px;
    height: 27px;
    color: var(--white);
    padding: 1px 10px;
    
}
.info .if02 span:after{
    content: '';
    width: 1px;
    height: 15px;
    background: var(--sub-color);
    position: absolute;
    top: 6px;
    left: -20px;;
}
.info .if02 span:first-child:after{
    background: none;
}


.local_logo {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-end
}
.local_logo a{
    text-indent: -9999em;
    display: inline-block;
    
}
.local_logo > a:first-child{
    background: url(../img/icon/icon1.png) no-repeat;
    width: 120px;
    height: 110px; 
    background-size: 100%; 
}
.local_logo > a:last-child{
    background: url(../img/icon/icon2.gif) no-repeat;
    width: 120px;
    height: 85px; 
    background-size: 100%; 
}

/* .local_logo a {
    display: flex;
    gap:25px;
}
.local_logo a:first-child {
    background: url(../img/icon/icon1.png) no-repeat;
    width:102px;
    height: 95px;
    text-indent: -9999em;
    background-size: 100%;
}
.local_logo span a:last-child{
    background: url(../img/icon/icon2.gif) no-repeat;
    width:120px;
    height:85px;
    text-indent: -9999em;
    background-size: 100%;
} */
