@import url(normaliz.min.css);
@import url(reset.css);

body,main{
    font-family: 'Noto Sans KR', sans-serif;
    color: #202020;
    height: 100vh;
}



/* HEADER - NAVIGATION */
.header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 700;
}

.header .fixed_wrap{
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    height: 105px;
    /* background-color: #fff; */
    position: fixed;
}
.header .header_inner {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 105px;
    align-items: center;
}
.header .logo{
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%); */
    height: 60px;
    z-index: 701;
}
.header .logo .logo_img{
    background: url(../img/icon/samsung-logo-w.png) no-repeat;
    display: block;
    width: 222px;
    height: 100%;
    background-size: 100%;
    z-index: 703px;
}
.header .menu_blank_wrap {
    display: flex;
    gap: 28px;
    padding-left: 44px;
    align-items: center;
    font-size: 14px;
}
.header .touch_link > a{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
.header .blank_link > a{
    color: #fff;
}


.header .menu_icon_wrap {
    display: flex;
    gap: 15px;
    padding-left: 220px;
}
.header .menu_icon_wrap li{
    width: 27px;
    height: 26px;
    display: block;
    filter: invert(100%) sepia(0%) saturate(7475%) hue-rotate(72deg) brightness(108%) contrast(108%);
    overflow: hidden;
}


.light .logo .logo_img {
    background: url(../img/icon/samsung-logo.png) no-repeat;
    display: block;
    width: 222px;
    height: 100%;
    background-size: 100%;
    z-index: 703px;
}
.light .touch_link > a{
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.light .blank_link > a{
    color: black;
}
.light .menu_icon_wrap li{
    width: 27px;
    height: 26px;
    display: block;
    filter: invert(0%) sepia(100%) saturate(12%) hue-rotate(355deg) brightness(97%) contrast(100%);
    overflow: hidden;
}



.pc_nav{
    display: flex;
}
.pc_nav .menu_list_wrap{
    display: flex;
    gap: 40px;
    padding-left: 30px; 
}
.sub_category_wrap{
    position: absolute;
    top: 105px;
    left: 0;
    right: 0;
    z-index: 103;
    border-top: 1px solid #ddd;
    background-color: #fff;
    padding-top: 52px;
    padding-bottom: 95px;
    padding-left: 60px;
    
    /* submenu 보기*/
    /* opacity: 0; */
    /* display: none; */
}

.sub_category_box{
    display: flex;
    gap: 75px;
    width: 1441px;
    margin: 0 auto;
}
.sub_category_title .fa-solid{
    padding-left: 10px;
    font-size: 16px;
}

.sub_category_title > li:nth-child(2){
    padding-top:45px
}
.sub_category_title > li:nth-child(3){
    padding-top:45px
}
/* .sub_category_title > li{
    line-height:45px;
} */
.sub_category_title .sub_list{
    padding-top: 20px;
    line-height: 35px;
    font-size: 16px;
}
.sub_category_title .sub_list a{
    color: #4a4a4a;
}
.sub_category_title > li > a{
    font-weight: bold;
    font-size: 18px;
}




/* MAIN SLIDE */
.main_slide{
    height: 100vh;
}
.slide_wrapper{
    overflow: hidden;
    position: relative;
}
.slide_container{
    height: 100%;
    position: absolute;
    transition: left 0.4s ease-out;
    display: flex;
    width: 300%;
    left: 0;
}
.slide_container > li > .content{
    padding-left: 139px;
} 
.main_slide li{
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.main_slide .slide1{
    justify-content: center;
}
.main_slide .slide1 > video{
    width: 100%;
}
/* .main_slide .video_wrapper{
    width: 100%;
    height: 100%;
} */
.main_slide .slide1 video{
    position: absolute;
    object-fit: cover;
    height: 100vh;
    /* background-size: cover; */
}
.main_slide .slide2{
    background-image: url(../img/index/slide2.png);
}
.main_slide .sub_tt{
    font-size: 30px;
    font-weight: 500;
}
.main_slide .main_tt{
    font-size: 55px;
    font-weight: bold;
    padding-top: 29px;
    padding-bottom: 96px;
}
.main_slide .content > p{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 50px;
    line-height: 25px;
}
.main_slide .content .button{
    width: 282px;
    height: 70px;
    border: 1px solid #202020;
    border-radius: 35px;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    display: inline-block;
    font-weight: 500;
}
.main_slide .content .button:hover{
    color: #fff;
    background-color: #202020;
    border-color: #202020;
}
.main_slide .content .button > .fa-solid{
    padding-left: 20px;
}
.main_slide .slide3{
    background-image: url(../img/index/slide3.PNG);
}
.main_slide .slide3 .timer_text{
    display: flex;
}
.main_slide .pager_wrapper{
    display:flex;
}
/* .main_slide .slide_progressbar{
    position: absolute;
    left: 240px;
    bottom:149px;
    width: calc(100% - 1254px);
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);

}
.main_slide .slide_progressbar .fill{
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    background-color: red;
} */
.main_slide .slide_paging{
    position: absolute;
    /* left: 167px; */
    left: 90px;
    bottom:75px;
    font-size: 16px;
    color: #fff;
    display: flex;
    align-items: center;
}
.main_slide .slide_paging .slide_progressbar{
    left: 240px;
    bottom:149px;
    /* width: calc(100% - 1254px); */
    width: 282px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.2);
}
.main_slide .slide_paging .slide_progressbar .barcg{
    left: 240px;
    bottom:149px;
    /* width: calc(100% - 1254px); */
    width: 282px;
    height: 2px;
    background-color: #202020;
}
.main_slide .slide_paging .slide_progressbar .fill{
    position: absolute;
    left: 0;
    top: 0;
    height: 3px;
    background-color: #fff;
}
.main_slide .slide_paging .icon_sound{
    width: 50px;
    height: 50px;
    background: url(../img/icon/volume_x.svg) no-repeat;
    opacity: 1;
    background-size: cover;
    /* filter: invert(10%) sepia(2%) saturate(0%) hue-rotate(32deg) brightness(96%) contrast(92%); */
    cursor: pointer;
}
.main_slide .slide_paging .icon_sound_on{
    width: 50px;
    height: 50px;
    background: url(../img/icon/volume.svg) no-repeat;
    opacity: 1;
    background-size: cover;
    cursor: pointer;
}

.main_slide .slide_paging .fa-pause{
    font-size: 16px;
    color: #fff;
    padding-left: 25px;
    padding-right: 15px;
    cursor: pointer;
}
.main_slide .slide_paging .fa-play:before{
    font-size: 16px;
    color: #fff;
    padding-left: 25px;
    padding-right: 15px;
    cursor: pointer;
}

.main_slide .slide_paging .total{
    position: relative;
    padding-left: 28px;
}
.main_slide .slide_paging .total::before{
    content: '';
    position: absolute;
    left:13px;
    width: 1px;
    height: 17px;
    background-color: #fff;
}
.main_slide .slide_paging .total.changed::before{
    content: '';
    position: absolute;
    left:13px;
    width: 1px;
    height: 17px;
    background-color: #202020;
}
.main_slide .slide_paging button{
    background-color: transparent;
    border: none;
}
.main_slide .slide_paging button .fa-solid{
    font-size: 16px;
    cursor: pointer;
}
.main_slide .slide_paging .btn_prev{
    padding-right: 20px;
    padding-left: 35px;
    color: #fff;
}
.main_slide .slide_paging .btn_next{
    padding-left: 20px;
    color: #fff;
}


/* SECTION02 */
.main_section02{
    position: relative;
    height: 100vh;  
    background: #fff;
    overflow:hidden;
    /* display: flex;
    justify-content: center; */
}

.swiper_active{
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 56px;
}
.swiper_active:before{
    width: 1379px;
    border-bottom: 1px solid #202020;
    position: absolute;
    content: '';
    bottom: 0;
    margin-bottom: 26px;
}
.swiper_ct{
    display:flex;
    width: 1379px;
    gap: 100px;
}
.swiper_ct li > a{
    font-size: 20px;
    font-weight: bold;
    color: #8e8e8e;
    position:relative;
    display:block;
}
.swiper_ct > .on> a:after{
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 100%;
    height: 5px;
    border-radius: 5px 5px 0 0;
    background-color: #202020;
    content: '';
}
.swiper-container {
    padding-top:11%;
}
.swiper-wrapper {
    display:flex;
    width:400%;
    position:absolute;
    left:0%;
    transition: 0.8s;
}

.swiper_slide{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center; 
    gap: 150px; 
    background-color:#fff;
    position:relative;
}
.swiper_slide .s22{
    background: url(../img/index/gx__s22.png) no-repeat;
    width: 433px;
    height: 477px;
    background-size: contain;
}
.swiper_slide .a53{
    background: url(../img/index/Galaxy_A5.PNG) no-repeat;
    width: 510px;
    height: 500px;
    background-size: contain;
}
.swiper_slide .tab{
    background: url(../img/index/tab.png) no-repeat;
    width: 533px;
    height: 280px;
    background-size: contain;
}
.swiper_slide .watch{
    background: url(../img/index/watch.png) no-repeat;
    width: 340px;
    height: 451px;
    background-size: contain;
}

.swiper_slide .gx_content > h2{
    font-weight: bold;
    color: #202020;
    font-size: 55px;
}
.swiper_slide .gx_content > p{
    font-size: 18px;
    font-weight: 500;
    color: #202020;
    padding-top: 90px;
    padding-bottom: 50px;
    line-height: 20px;
}
.swiper_slide .gx_content div > a{
    width: 250px;
    height: 60px;
    border-radius: 35px;
    border: 1px solid #202020;
    text-align: center;
    line-height: 60px;
    display: block;
}
.swiper_slide .gx_content div > a > i{
    padding-left:10px
}
.swiper_slide .gx_content div > a:hover{
    border: 1px solid #202020;
    background-color: #202020;
    color: #fff;
}




/* SECTION03 - LED */

/*
.main_section03{
    height: 100vh;
    position: relative; 
    overflow: hidden;
}
.led_imgs{
    height: 100%;
    position: absolute;
    transition: left 0.4s ease-out;
    display: flex;
    width: 400%;
    left: 0;
}
.led_imgs li{
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
}
.led_imgs .img_lg{
    background: url(../img/index/mainbg_1.jpg) no-repeat;
    background-size: cover;
    
}
.led_imgs .img_md{
    background: url(../img/index/mainbg_2.jpg) no-repeat;
    background-size: cover;
}
.led_imgs .img_sm{
    background: url(../img/index/mainbg_3.jpg) no-repeat;
    background-size: cover
}
.led_ct .bg{
    background: url(../img/index/background_bg.png);
    background-size: cover;

    width: 100%;
    height: 100%;
}
.led_ct .led_text{
    color: #fff;
    position: absolute;
    top: 50%;  
    margin-left: 13%;
    transform: translateY(-50%);
}
.led_ct .led_text > h2{
    font-size: 55px;
    font-weight: bold;
}
.led_ct .led_text > p{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    padding-top: 97px;
    padding-bottom: 48px;
}
.led_ct .led_text > a{
    width: 250px;
    height: 60px;
    border-radius: 35px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    line-height: 60px;
    display: block;
}
.led_ct .led_text > a:hover{
    background-color: #fff;
    border: 1px solid #fff;
    color: #202020;
}
.led_ct .led_text > a > i {
    padding-left:10px;
}
*/

/* .main_section03{
    height: 100vh;
    position: relative; 
    overflow: hidden;
} */


.led_imgs{
    height: 100vh;
    position: relative;
    transition: left 0.4s ease-out;
    /* display: flex; */
    width: 100%;
}
.led_imgs li{
    position: absolute;
    width: 100%;
    height: 100%;
}
.led_imgs .img_lg{
    background: url(../img/index/mainbg_1.jpg) no-repeat;
    background-size: cover;
    z-index: 2;
    
}
.led_imgs .img_md{
    background: url(../img/index/mainbg_2.jpg) no-repeat;
    background-size: cover;
    z-index: 1;
}
.led_imgs .img_sm{
    background: url(../img/index/mainbg_3.jpg) no-repeat;
    background-size: cover
}

.led_ct {
    position:absolute;
    left: -500px;
    z-index:5;
    transition: 0.5s;
    top: 50%;
    transform: translateY(-50%);
}

.led_ct > .bg{
    background: url(../img/index/background_bg.png);
    /* background-size: cover; */
    width: 100%;
    height: 100%;
}
.led_ct .led_text{
    color: #fff;
    /* position: absolute;
    top: 50%;  
    margin-left: 11%;
    transform: translateY(-50%); */
}
.led_ct .led_text > h2{
    font-size: 55px;
    font-weight: bold;
}
.led_ct .led_text > p{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    padding-top: 97px;
    padding-bottom: 48px;
}
.led_ct .led_text > a{
    width: 250px;
    height: 60px;
    border-radius: 35px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    line-height: 60px;
    display: block;
}
.led_ct .led_text > a:hover{
    background-color: #fff;
    border: 1px solid #fff;
    color: #202020;
}
.led_ct .led_text > a > i {
    padding-left:10px;
}

/* SECTION04 - BESPOKE */

.main_section04{
    position: relative;
    height: 100vh;
}
/* .bespoke_wrap{
    position: relative;
} */
.bespoke_img{
    display: flex;
    /* position: relative; */
    width: 100%;
    background-size: contain;
    overflow: hidden;
}
.bespoke_img > li{
    position: absolute;
}
.bespoke_img .black{
    background: url(../img/index/bespoke1.PNG) no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
}
.bespoke_img .gold{
    background: url(../img/index/bespoke2.PNG) no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
}
.bespoke_img .warm{
    background: url(../img/index/bespoke3.PNG) no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
}
.bespoke_img .brown{
    background: url(../img/index/bespoke4.PNG) no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
}
.bespoke_img .gray{
    background: url(../img/index/bespoke5.PNG) no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
}
.color_btn{
    position: absolute;
    display: flex;
    top: 85%;
    left: 70%;
    gap: 35px;
    z-index: 10;   
}
.color_btn a{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}
.color_btn .black_btn {
    background-color: #202020; 
}
.color_btn .black_btn:active:after {
    position: absolute;
    content: '';
    border: 7px solid #dfdfdf;
    background-color: #202020;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    inset: -3px;
}
.color_btn .gold_btn {
    background-color: #dcd3c3;
}
.color_btn .gold_btn:active:after {
    position: absolute;
    content: '';
    border: 7px solid #836b4c;
    background-color: #dcd3c3;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    inset: -3px;
}
.color_btn .warm_btn {
    background-color: #fff;
}
.color_btn .warm_btn:active:after {
    position: absolute;
    content: '';
    border: 7px solid #dfdfdf;
    background-color: #fff;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    inset: -3px;
}
.color_btn .brown_btn {
    background-color: #6a5750;
}
.color_btn .brown_btn:active:after {
    position: absolute;
    content: '';
    border: 7px solid #887b70;
    background-color: #6a5750;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    inset: -3px;
}
.color_btn .gray_btn {
    background-color: #7b7a75;
}
.color_btn .gray_btn:active:after {
    position: absolute;
    content: '';
    border: 7px solid #b2b1aa;
    background-color: #7b7a75;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    inset: -3px;
}

.bespoke_ct{
    z-index: 20;
    position:absolute;
    left: -700px;
    z-index:5;
    transition: 0.5s;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 11%;
}
.bespoke_ct .bg{
    background: url(../img/index/background_bg01.png);
    /* background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; */
}
.bespoke_ct .bespoke_text{
    color: #fff;
    /* position: absolute;
    top: 50%;  
    margin-left: 11%;
    transform: translateY(-50%); */
}
.bespoke_ct .bespoke_text > h2{
    font-size: 55px;
    font-weight: bold;
}
.bespoke_ct .bespoke_text > p{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    padding-top: 97px;
    padding-bottom: 48px;
}
.bespoke_ct .bespoke_text > a{
    width: 250px;
    height: 60px;
    border-radius: 35px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    line-height: 60px;
    display: block;
}
.bespoke_ct .bespoke_text > a:hover{
    background-color: #fff;
    border: 1px solid #fff;
    color: #202020;
}
.bespoke_ct .bespoke_text > a > i {
    padding-left:10px;
}


/* SECTION04 - CONTENT */

/*
.main_section05{
    height: 100vh;
    background-color: #245;
    
}
.all_content {
    position: relative;
}

.all_content li > a {
    width: 479px;
    height: 349px;
    display: inline-block;
    position: relative;
}

.all_content > li > a::after{
    content: '';
    position: absolute;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    top: 0; 
   }
.all_content .collage{
    color: #fff;
    margin-top: 241px;
    margin-left: 50px;
}

.all_content .collage h2{
    font-size: 28px;
    font-weight: bold;
}
.all_content .collage p{
    font-size: 17px;
    font-weight: 500;
    padding-top: 19px;
}
.planning > a{
    background: url(../img/index/planning.PNG) no-repeat;
    background-position: -238px -2px;
    background-size: 194%;
}
.event > a{
    background: url(../img/index/event.PNG) no-repeat;
    background-position: -569px -28px;
    background-size: 223%;
}
.cuker > a{
    background: url(../img/index/cuker.PNG) no-repeat;
    background-position: -278px -107px;
    background-size: 158%;
}
.sm_within > a{
    background: url(../img/index/samsung_within.PNG) no-repeat;
    background-position: -9px -52px;
    background-size: 102%;
}
.membership > a{
    background: url(../img/index/membership.jpg) no-repeat;
    background-position: -1602px -49px;
    background-size: 448%;
}
.service > a{
    background: url(../img/index/service.jpg) no-repeat;
    background-position: -146px -44px;
    background-size: 131%;
}

*/

.main_section05{
    height: 100vh;    
}
.all_ct_wrapper{
    position: relative;
    top: 52%;
    transform: translateY(-44%);
}
.all_content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 1300px;
    margin: 0 auto;
    justify-content: center;
}

.all_content li{
    width: 380px;
    height: 280px;
    display: inline-block;
    position: relative;
}
.all_content > li > a{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.all_content > li > a:hover{
    display: inline-block;
    position: absolute;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    top: 0; 
    transition: 0.5s;
}
.all_content .collage{
    color: #fff;
    margin-top: 177px;
    margin-left: 36px;
    opacity: 0;
}
.all_content > li > a:hover .collage{
    opacity: 1;
    transition: 0.5s;
}

.all_content .collage h2{
    font-size: 24px;
    font-weight: bold;
}
.all_content .collage p{
    font-size: 17px;
    font-weight: 500;
    padding-top: 19px;
}

.planning{
    background: url(../img/index/planning.PNG) no-repeat;
    background-position: -198px -2px;
    background-size: 197%;
}
.event{
    background: url(../img/index/event.PNG) no-repeat;
    background-position: -477px -28px;
    background-size: 228%;
}
.cuker{
    background: url(../img/index/cuker.PNG) no-repeat;
    background-position: -237px -106px;
    background-size: 168%;
}
.sm_within{
    background: url(../img/index/samsung_within.PNG) no-repeat;
    background-position: -4px -43px;
    background-size: 102%;
}
.membership{
    background: url(../img/index/membership.jpg) no-repeat;
    background-position: -1453px -76px;
    background-size: 506%;
}
.service{
    background: url(../img/index/service.jpg) no-repeat;
    background-position: -106px -39px;
    background-size: 128%;
}




/* footer_content */

.footer_content{
    width: 1411px;
    margin: 0 auto;
    /* background: #458792; */
    padding-top: 107px;
    padding-bottom: 28px;
}
.footer_content > ul{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    width: var(--con-width);
    margin: 0 auto;
}
.footer_content ul > li > div {
    display: flex;
}
.footer_content ul > li > div > ul:last-child{
    padding-left: 100px;
}
.footer_content h3{
    font-size: 20px;
    font-weight: bold;
}
.footer_content h3 > i{
    font-size: 16px;
    padding-left: 10px;
}
.footer_content .link li {
    padding-top: 20px;
    /*line-height: 35px;*/
}
.footer_content .link li a{
    font-size: 17px;
    color: var(--sub-color);
}
.line{
    border: 1px solid rgba(74,74,74,.1);
    margin: 50px 0;
}


/* footer_ct */

.footer_ct{
    width: var(--con-width);
    margin: 0 auto;
    font-size: 16px;
    color: var(--sub-color);
    width: var(--con-width);
    margin: 0 auto;
}
.lang{
    display: flex;
}
.lang > ul{
    display: flex;
    gap:17px;
    align-items: center;
}
.lang > ul > li{
    position: relative;
    font-weight: bold;
}
.lang > ul > li:after{
    content: '';
    width: 1px;
    height: 18px;
    background: var(--sub-color);
    position: absolute;
    right: -20px;
}
.lang > ul > li:last-child:after{
    background: none;
}
#use_ct{
    min-height: 44px;
    width: 290px;
    border-radius: 10px;
    border: 1px solid #202020;
    box-sizing: border-box;
    background-color: var(--white);
    text-align: left;
    cursor: pointer;
    padding-left: 14px;
    font-size: 17px; 
}

.acodian{
    display: flex;
    gap: 24px;    
}
.acodian > div > ul{
    display: none;
}
.dropList01 {
    padding-left: 32px;
}
.icon1 > .fa-solid{
    padding-left: 180px;
}
.icon2 > .fa-solid{
    padding-left: 114px;
}
.footer_ct .sns ul{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 70px;
}
.lang .sns .fbook{
    background: url(../img/icon/facebook.svg) no-repeat;
    width:22px;
    height: 41px; 
    display: block;
    background-size: 100%;
    fill: #202020;
    filter:invert(58%) sepia(9%) saturate(8%) hue-rotate(347deg) brightness(89%) contrast(90%);
}
.lang .sns .insta{
    background: url(../img/icon/instagram.png) no-repeat;
    width:40px;
    height: 41px;
    display: block;
    background-size: 100%;
    filter:invert(58%) sepia(9%) saturate(8%) hue-rotate(347deg) brightness(89%) contrast(90%);
}
.lang .sns .youtube{
    background: url(../img/icon/youtube.png) no-repeat;
    width:50px;
    height: 48px;
    display: block;
    background-size: 100%;
    filter:invert(58%) sepia(9%) saturate(8%) hue-rotate(347deg) brightness(89%) contrast(90%);
}
.lang .sns .blog{
    background: url(../img/icon/blog.png) no-repeat;
    width:43px;
    height: 41px;
    display: block;
    background-size: 100%;
    filter:invert(58%) sepia(55%) saturate(26%) hue-rotate(375deg) brightness(92%) contrast(90%)
}
/* .info .text span{
    padding-top: 10px;
} */

.info .text{
    line-height: 30px;
    padding-top:50px;
}
.info .text .copy{
    /* padding-top: 30px; */
    display: block;
    font-weight: bold; 
    display: inline-block;
}
.info .if01, .if02 {
    display:flex;
    gap: 23px;
}
.info .if01 span {
    position: relative;
}
.info .if02 span {
    position: relative;
}
.info .if01 span:after{
    content: '';
    width: 1px;
    height: 15px;
    background: #202020;
    position: absolute;
    top: 9px;
    left: -12px;
}
.info .if01 span:first-child:after{
    background: none;
}
.info .if01 .info_links{
    background: #202020;
    border-radius: 50px;
    width: 270px;
    height: 27px;   
    padding: 1px 10px 
}
.info_links{
    color: #fff;
}
.info .if02 span:after{
    content: '';
    width: 1px;
    height: 15px;
    background: #202020;
    position: absolute;
    top: 9px;
    left: -12px;
}
.info .if02 span:first-child:after{
    background: none;
}


.if03{
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
}
.local_logo {
    display: flex;
    gap: 20px;
    align-items: center;
}
.local_logo a{
    text-indent: -9999em;
    display: inline-block;
    width: 87px;
    height: 86px;
}
.local_logo > a:first-child{
    background: url(../img/icon/icon1.png) no-repeat;
    background-size: 100%;
}
.local_logo > a:last-child{
    background: url(../img/icon/icon2.gif) no-repeat;
    background-size: 100%; 
}

.fp-warning, .fp-watermark a {
    display: none;
}
.fp-overflow {
    overflow-y:overlay;
}